@import "tailwindcss";

@theme inline {
  --font-neuton: var(--font-neuton);
  --font-gloock: var(--font-gloock);
}

@keyframes scrollPatternDown {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 40px;
  }
}

@keyframes scrollPatternDiagonal {
  from {
    background-position: 0 0px;
  }
  to {
    background-position: 0 40px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}