@import "tailwindcss";

:root {
  --background: #dabdab;
  --foreground: #27211b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-neuton: var(--font-neuton);
  --font-bodoni-moda: var(--font-bodoni-moda);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
